.book-summary {
    top: 105px;
}
.book-body {
    top: 105px;
}
    .head {
        position: relative;
        z-index: 10;
    }
    .head_box {
        padding: 0 40px;
        position: relative;
        height: 60px;
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(150,150,150,.3);
        box-sizing: border-box;
    }
    .head_box h1 {
        margin: 0;
    }
    .head_box a {
        color: #353535;
        cursor: pointer;
    }
    .logo a {
        display: block;
        width: 250px;
        height: 28px;
        overflow: hidden;
        text-decoration: none;
        line-height: 999em;
        background: url(images/head_global_z_@all.png) 0 0 no-repeat;
    }
    .logo {
        float: left;
        padding-top: 15px;
        font-size: 24px;
    }
    .head_box .header_ctrls {
        display: inline-block;
        position: absolute;
        right: 40px;
        font-size: 16px;
    }
    .head_box .top_nav {
        display: inline-block;
        margin: 0;
    }
    .head_box .top_nav .top_nav_item {
        display: inline-block;
        box-sizing: border-box;
        height: 60px;
    }
    .head_box .top_nav a {
        height: 60px;
        line-height: 60px;
        padding: 0 15px;
    }

    .head_box a {
        color: #353535;
        cursor: pointer;
    }
    .sub_nav_box {
        position: relative;
        background-color: #fff;
        font-size: 16px;
        height: 45px;
        z-index: 9;
        padding-left: 300px;
        background-color: #f6f8f9;
    }
    .sub_nav_inner {
        max-width: 960px;
        width: 85%;
        min-width: 600px;
        margin: 0 auto;
        position: relative;
    }
    .book-summary-opr {
        display: none;
        width: 44px;
        height: 54px;
        position: absolute;
        left: 4px;
        padding: 16px 11px;
    }
    #book-search-input {
        position: absolute;
        top: 2px;
        right: 0;
        display: inline;
        background: 0 0;
        transition: top .5s ease;
        vertical-align: middle;
        border: none;
        padding: 0;
    }
    #book-search-input .search-icon {
        display: inline-block;
        vertical-align: middle;
    }
    #book-search-input .search-icon:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url(https://mp.weixin.qq.com/debug/wxadoc/gitbook/images/search@1x.png);
        background-repeat: no-repeat;
        margin: 10px;
        cursor: pointer;
    }
    #book-search-input input, #book-search-input input:focus, #book-search-input input:hover {
        background: 0 0;
        box-shadow: none;
        outline: 0;
        line-height: 22px;
        height: 32px;
        color: inherit;
        transition: width .5s ease;
        padding: 5px;
        border: none;
        vertical-align: middle;
        background-color: #fff;
        border-radius: 5px;
        width: 180px;
    }
    #book-search-input .clear-input-btn {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        background: 0 0;
        outline: 0;
        padding: 15px;
    }
    .book-summary-opr .book-summary-btn {
        display: inline-block;
        width: 22px;
        height: 22px;
        background-image: url(images/list@2x.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .top_title_wap {
        display: none;
    }
    .top_sub_list {
        margin: 0;
        padding: 0;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }
    .sub_nav_box .sub_nav_item:first-child {
        margin-left: 0;
    }
    .sub_nav_box .sub_nav_item {
        display: inline-block;
        margin: 0 20px;
    }
    .sub_nav_box .sub_nav_item a {
        color: #353535;
        height: 45px;
        line-height: 45px;
    }